*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3em;
}

header{
    position: sticky;
    top: 0px;
}

header>div{
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(20, 19, 19);
}

header>div>a{
    margin: 0px 10px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.profil-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profil-container>img{
    border-radius: 50%;
}

.first-name, .last-name{
    display: inline-block;
    padding: 15px;
    background-color: rgb(243, 127, 127);
    border-radius: 0px 0px 20px 20px;
    border-top: 4px solid black;
}

.introduction{
    padding: 50px;
    background-color: rgb(243, 127, 127);
}

.profil-container>p{
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.resume-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

button{
    font-size: 1em;
    border: none;
    padding: 0px 20px;
    background-color: #5283b7;
    color: white;
    height: 50px;
}

button:hover{
    cursor: pointer;
    background-color: #0056b3;
}

#projects-container{
    display: grid;
    grid-template-columns: auto auto;
}

#projects-container>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:20px;
    background-color: rgb(194, 194, 68);
    padding: 40px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    background-color: rgb(20, 19, 19);
}

footer>a{
    text-decoration: none;
    color: white;
    padding: 10px 0px;
}