header, main, nav, footer{
    border-radius: 10px;
}

header{
    background-color:white;
    color: black;
}

header>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header>div>img{
    height: 5em;
    width: 5em;
}

header>div>p{
    padding: 0em 1em;
    font-size: 1.2em;
    display: flex;
}

.sticky-nav{
    position: sticky;
    top: 0em;
    justify-content: center;
    text-align: center;
}

.sticky-nav>nav{
    justify-content: center;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.sticky-nav>nav>a{
    color: black;
}

.profil-container{
    display: flex;
    justify-content: center;
}

.profil-container>img{
    width: 9em;
    height: 9em;
}

.profil-container>p{
    text-align: center;
    margin-top: 1em;
    width: 8em;
    font-size: 1.2em;
}

.resume-container{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}
