* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px 50px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3em;
}

body>header {
    position: sticky;
    top: 0px;
}

body>header>div {
    display: flex;
    justify-content: center;
    background-color: #5283b7;
}

body>header>div>a {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin: 0px 10px;
}

body>header>div>a:hover {
    background-color: whitesmoke;
    color: black;
}

body>main {
    background-color: whitesmoke;
}

.profil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profil-container>img {
    margin-top: 20px;
    border-radius: 50%;
}

.first-name,
.last-name {
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.introduction {
    padding: 50px;
    background-color: rgb(243, 127, 127);
}

.profil-container>p {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

body>main>div>button {
    font-size: 1em;
    border: none;
    padding: 0px 20px;
    background-color: #5283b7;
    color: white;
    height: 30px;
}

body>main>div>button:hover {
    cursor: pointer;
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1em;
        margin: 0px;
    }
}