*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>div{
    margin: 20px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 20px;
    background-color: cornflowerblue;
    width: 100%;
}

header>div>p{
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.profil-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profil-container>img{
    border-radius: 50%;
}

.profil-container>div>p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
}

.resume-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume-container>button{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(67, 185, 67);
    font-size: 2em;
    height: 70px;
    width: 200px;
    color: white;
}

.resume-container>button:hover{
    cursor: pointer;
    background-color: rgb(28, 150, 28);
}

footer{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    border-radius: 20px;
}

footer>div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

footer>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

footer>div>a,
footer>div>i{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

