* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
    font-family: 'Roboto mono', monospace;
    font-style: italic;
}

img {
    width: 700px;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: row;
}

.profil {
    margin: 20px 10px;
}

section {
    display: flex;
    flex-direction: column;
}

section> div {
    margin: 20px;
    border-radius: 10px;
}

.introduction {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
}

.introduction:hover{
    scale: 1.005;
}

.introduction> div:first-child {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.introduction> div:first-child> h1 {
    font-size: 1em;
}

.introduction> div:last-child> p {
    font-size: 1.2em;
    color: black;
    text-align: center;
    padding: 10px;
}

.resume {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
}

.resume:hover{
    scale: 1.005;
}

.resume> div:first-child {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.resume> div:first-child> h1 {
    font-size: 1em;
}

.resume> div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

button {
    padding: 10px;
    background-color: #008CBA;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
    background-color: #007B9E;
    scale: 1.1;
}

.contact {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
}

.contact:hover {
    scale: 1.005;
}

.contact> div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.contact> div:first-child> h1 {
    font-size: 1em;
}

.contact> div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}


.contact> div:last-child> a {
    margin: 0px 10px;
    padding: 10px;
    width: fit-content;
    background-color: #008CBA;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.contact> div:last-child> a:hover{
    scale: 1.05;
    background-color: #007B9E;
    color: white;
}

@media screen and (max-width: 860px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .profil {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 400px;
        height: 400px;
    }

    .introduction> div:last-child> p {
        font-size: 1em;
    }

    .contact> div:last-child {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .contact> div:last-child> a {
        margin: 10px 0px;
    }
}

@media screen and (max-width: 400px) {
    img {
        width: 300px;
        height: 300px;
    }
}