header{
    background-color: rgb(171, 147, 103);
}
header>h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.profil-container{
    display: flex;
    justify-content: center;
}
.profil-container>img{
    width: 20em;
    height: 20em;
}
.skills-container>p{
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-container{
    display: flex;
    justify-content: center;
}
.nav-container>nav>ul>li{
    font-size: 1.2em;
    list-style: none;
}
.resume-container{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(171, 147, 103);
}
.contact-container>a{
    padding: 0em 1em;
    color: white;
}