/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0px 100px;
    background-color: #f5f5f5;
    color: #333;
}

header {
    color: #333;
    padding: 20px;
    text-align: start;
}

header h1 {
    font-size: 3rem;
}

header nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

header nav ul li {
    margin: 2px 0px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
}

header nav ul li a:hover,
#about-link {
    padding: 5px;
    background-color: rgb(8, 8, 191);
    color: #FFFFFF;
    border-radius: 10px;
}

header,
main,
footer {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    padding: 2rem 0;
    text-align: center;
}

#about {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#about img {
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

#about div {
    display: flex;
    flex-direction: column;
}

#about div h1 {
    text-align: start;
    font-size: 3rem;
    padding: 0px 20px 20px 40px;
}

#about div p {
    padding: 20px 20px 0px 40px;
    text-align: start;
    font-size: 20px;
}

.project {
    margin: 1rem 0;
}

.project img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
}

#mail-btn {
    padding: 0px 10px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background: rgb(57, 57, 255);
    color: #FFFFFF;
    font-weight: 500;
}

#mail-btn:hover {
    background: rgb(8, 8, 191);
    cursor: pointer;
}

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(57, 57, 255);
    border: none;
}

#back-to-top-btn:hover {
    cursor: pointer;
    scale: 1.05;
}

footer {
    font-size: 20px;
    text-align: center;
    align-items: center;
    padding: 1rem 0;
    height: 6rem;
}

footer p {
    text-align: center;
    color: #333;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    header nav ul li {
        margin: 1px 0px;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }
    
    #about div {
        flex-direction: column;
    }

    #about div h1 {
        text-align: center;
        font-size: 2rem;
        padding: 10px 0px;
    }

    #about div p {
        text-align: center;
        font-size: 16px;
        padding: 10px 0px;
    }

    body {
        padding: 0px;
    }

    #back-to-top-btn {
        right: 0px;
        bottom: 10px;
    }

    footer p {
        color: #333;
        font-weight: bold;
        font-size: 18px;
    }
}

@media (width<310px){
    #about img {        
        height: 200px;
        width: 200px;
    }
}